<h1 class = "text-center" >Products</h1>
<div class="row row-cols-5 justify-content-center ">
<% @products.each do |product| %>
 <%= render 'product', {product: product} %>
<% end %>
</div>

<h2 class = "text-center mb-5 mt-5"><%= link_to " Add New product", new_product_path %></h2>


